<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Introducción a VueJS</title>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>


        <h1 id="autor">Autor: Tomás barrera</h1>

        <div id="app">
            <div class="jumbotron">
                <h1 id="title">{{ col.collection.title }}</h1>
            </div>
                <div class="card" v-for="i in col.collection.items" style="width: 18rem;">
                    <div class="card-body">   
                      <dl>
                        <div v-for="datos in i.data">
                          <dt>{{ datos.prompt }}</dt>
                          <dd>{{ datos.value }}</dd>
                        </div>
                      </dl>
                      <a v-bind:href="i.href">Ver</a>
                    </div>
                  </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="./js/script.js"></script>

    </body>

</html>
